# Service for Eureka
apiVersion: v1
kind: Service
metadata:
  name: service-registry
  namespace: ilpd-mis
  labels:
    app: service-registry
spec:
  type: ClusterIP
  selector:
    app: service-registry
  ports:
  - port: 8761
    targetPort: 8761
    protocol: TCP
    name: eureka
